<div class="col-md-10 col-md-offset-1">
  <div class="message-show">

    <h2 class="message-title"><%= @message.title %></h2>

    <p class="message-posted-by"><%= time_ago_in_words(@message.created_at) %> ago</p>

    <p class="message-desc"><%= @message.description %></p>

    <h3 class="comment-section-header">Comments:</h3>
    <p><%= render @message.comments %></p>

    <h3 class="reply-to-msg">Join Discussion:</h3>
    <%= render 'comments/form' %>

    <div class="links btn-group">

      <% if user_signed_in? %>
        <% if @message.user == current_user %>
          <%= link_to "Edit", edit_message_path(@message), class: "btn btn-default" %>
          <%= link_to "Delete", message_path(@message), method: :delete, data: { confirm: "Are you sure you want to delete this message?" }, class: "btn btn-danger" %>
        <% end %>
      <% end %>

      <%= link_to "Back", root_path, class: "btn btn-primary" %>

    </div>

  </div>
</div>
